{% extends 'base.html' %}

{% block content %}
<div class="items-center w-full px-52">
<div class="p-4 bg-white rounded-lg bg-opacity-70">
        <h1 class="py-2 mb-4 text-5xl font-bold text-center text-cyan-700">Acerca de nosotros</h1> 
            <p class="mb-2 text-justify text-cyan-700">Bienvenidos a Cancun Sunny, tu socio de confianza en la Riviera Maya desde 2025. 
                Nos especializamos en crear experiencias turísticas excepcionales que combinan comodidad, aventura y cultura, 
                todo ello respaldado por nuestro compromiso inquebrantable con la calidad y el servicio personalizado.</p>

           <p class="mb-2 text-justify text-cyan-700">Nuestra oferta principal incluye servicios de transportación de lujo y estándar entre el 
                aeropuerto y la Riviera Maya, complementada con una emocionante selección de tours de aventura y culturales que 
                te permitirán descubrir los tesoros ocultos de esta región paradisíaca.</p>

           <p class="mb-2 text-justify text-cyan-700">Lo que nos distingue es nuestra capacidad de ofrecer servicios de alta calidad a precios 
                competitivos, sin comprometer jamás la seguridad y confiabilidad que nuestros clientes merecen. Cada viaje, cada 
                tour y cada experiencia está diseñada pensando en tu comodidad y satisfacción.</p>

           <p class="mb-2 text-justify text-cyan-700">Nos enorgullece especialmente nuestro compromiso con la sostenibilidad y la comunidad local. 
                Trabajamos activamente para promover y preservar la rica cultura y gastronomía de la Riviera Maya, mientras contribuimos 
                a la protección de su incomparable flora y fauna. Creemos firmemente que este paraíso debe ser disfrutado por las 
                generaciones venideras.</p>
</div>
</div>
{% endblock %}
