{% extends 'base.html' %}

{% block content %}
<div class="items-center w-full px-52">
<div class="p-4 bg-white rounded-lg bg-opacity-70">
    <h1 class="py-2 mb-4 text-5xl text-center font-font-bold text-cyan-700">Contactanos</h1>
                <form method="post" class="font-semibold text-black bg-transparent rounded-lg shadow-lg card card-body">
                    {% csrf_token %}
                    <div class="px-10 text-center form-control mr-96">
                        <label for="contact_name" class="label">Nombre:</label>
                        <input type="text" name="contact_name" id="contact_namename" 
                        class="form-control" placeholder="Escribe tu nombre"></input>
                    </div>
                    
                    <div class="px-10 text-center form-control mr-96">                             
                        <label for="email" class="label">Correo electronico:</label>
                        <input type="text" name="email" id="email" 
                        class="form-control" placeholder="correo@domain.com"></input>
                        
                    </div>

                    <div class="px-10 text-center form-control mr-96">
                        <label for="phone_number" class="label">Numero telefonico:</label>
                        <input type="text" name="phone_number" id="phone_number" 
                        class="form-control" placeholder="Escribe tu numero telefonico"></textarea>
                    </div>
                    
                    <div class="px-10 text-center form-control">
                        <label for="message" class="label">mensage:</label>
                        <textarea type="text-are" name="message" id="message" 
                        class="w-full form-control textarea textarea-bordered" rows="10" placeholder="Escribe tu mensage"></textarea>
                    </div>

                    <div class="px-10 text-center form-control">
                        <!--label for="newss_later" class="label">Quieres recibir notificaciones?:</label>
                        <input type="checkbox" name="newss_later" id="newss_later" class="form-control checkbox checkbox-primary"></checkbox-->
                        <div>
                            <button type="submit" class="btn btn-primary">Enviar</button>
                        </div>
                    </div>  
                </div> 
                </form>

</div>     <!-- termina columna 1-->      
</div>         
{% endblock %}
