{% extends 'base.html' %}

{% block content %}
<div class="flex justify-center w-full px-4 md:px-10">
    <div class="w-full max-w-screen-lg p-6 bg-white rounded-lg shadow-lg bg-opacity-70">
        <h1 class="py-2 mb-6 text-3xl font-bold text-center md:text-5xl text-cyan-700">Contáctanos</h1>

        <form method="post" class="font-semibold text-black bg-transparent">
            {% csrf_token %}

            <div class="grid grid-cols-1 gap-6 md:grid-cols-2">
                
                <!-- Nombre -->
                <div class="form-control">
                    <label for="contact_name" class="label text-cyan-700">Nombre:</label>
                    <input type="text" name="contact_name" id="contact_name" 
                        class="w-full p-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-cyan-500" 
                        placeholder="Escribe tu nombre" required />
                </div>

                <!-- Correo Electrónico -->
                <div class="form-control">
                    <label for="email" class="label text-cyan-700">Correo electrónico:</label>
                    <input type="email" name="email" id="email" 
                        class="w-full p-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-cyan-500" 
                        placeholder="correo@domain.com" required />
                </div>

                <!-- Número Telefónico -->
                <div class="form-control">
                    <label for="phone_number" class="label text-cyan-700">Número telefónico:</label>
                    <input type="tel" name="phone_number" id="phone_number" 
                        class="w-full p-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-cyan-500" 
                        placeholder="Escribe tu número telefónico" required />
                </div>

                <!-- Mensaje -->
                <div class="col-span-1 form-control md:col-span-2">
                    <label for="message" class="label text-cyan-700">Mensaje:</label>
                    <textarea name="message" id="message" 
                        class="w-full p-3 border rounded-lg focus:outline-none focus:ring-2 focus:ring-cyan-500" 
                        rows="5" placeholder="Escribe tu mensaje" required></textarea>
                </div>
            </div>

            <!-- Botón Enviar -->
            <div class="flex justify-center mt-6">
                <button type="submit" class="px-6 py-2 text-white transition rounded-lg btn btn-primary bg-cyan-600 hover:bg-cyan-700">
                    Enviar
                </button>
            </div>
            
        </form>
    </div>
</div>
{% endblock %}
