{% extends 'base.html' %}

{% block content %}
<div class="items-center w-full px-52">
<div class="p-4 bg-white rounded-lg bg-opacity-70">
        <h1 class="py-2 mb-4 text-5xl font-bold text-center text-cyan-700">Términos de Uso.</h1> 
            <p class="mb-4 font-semibold text-justify text-cyan-700">1. Servicios Ofrecidos.</p>
                
              <p class="mb-4 ml-6 text-cyan-700">  
                •	Transportación terrestre aeropuerto-Riviera Maya
                <br><br>
                •	Tours de aventura y culturales
                <br><br>
                •	Servicios de hospedaje.
                <br><br>
                •	Los servicios pueden ser proporcionados directamente o a través de proveedores terceros autorizados
              </p>
                
           <p class="mb-2 font-bold text-justify text-cyan-700">2. Reservaciones y Pagos.</p>
         
            <p class="mb-4 ml-6 text-cyan-700">  •	Aceptamos pagos en efectivo, transferencias bancarias y través de nuestra pasarela de pagos Stripe
                <br><br>
                •	Las reservaciones se confirman una vez recibido el pago correspondiente
                <br><br>
                •	Los precios están sujetos a cambios según temporada y disponibilidad
            </p>

           <p class="mb-2 font-bold text-justify text-cyan-700">3. Política de Cancelaciones y Modificaciones
            Transportación:</p>

           <p class="mb-4 ml-6 text-cyan-700"> •	Cancelación gratuita con 24 horas de anticipación.
            <br><br>
            •	Reembolso procesado en 48-72 horas hábiles.
           </p>

            <h3 class="mb-2 ml-6 font-semibold text-cyan-700">Tours:</h3>

            <p class="mb-4 ml-12 text-cyan-700">
        
                •	Cancelación gratuita con 48 horas de anticipación.
                <br><br>
                •	Reembolso procesado en 48-72 horas hábiles.                
            </p>

            <h3 class="mb-2 ml-6 font-semibold text-cyan-700">Hospedaje:</h3>

            <p class="mb-4 ml-12 text-cyan-700">
        
                •	Se permite cambio de fecha o destinov.
                <br><br>
                •	Pueden aplicar cargos adicionales según temporada.            
            </p>

            <p class="mb-4 font-semibold text-justify text-cyan-700">4. Servicios Ofrecidos.</p>
                
              <p class="mb-4 ml-6 text-cyan-700">  
                •	Sujetas a disponibilidad.
                <br><br>
                •	Cambios en número de personas: ajuste proporcional de tarifa.
                <br><br>
                •	Cambios de fecha: posibles cargos adicionales según temporada.
              </p>

              <p class="mb-4 font-semibold text-justify text-cyan-700">5. Responsabilidades.</p>
                
              <p class="mb-4 ml-6 text-cyan-700">  
                •	Nos comprometemos a proporcionar los servicios acordados con la máxima calidad.
                <br><br>
                •	Nos reservamos el derecho de modificar o cancelar servicios por condiciones climáticas o seguridad.
                <br><br>
                •	Los usuarios deben seguir las instrucciones y normas de seguridad proporcionadas.
              </p>

              <p class="mb-4 font-semibold text-justify text-cyan-700">6. Propiedad Intelectual.</p>
                
              <p class="mb-4 ml-6 text-cyan-700">  
                •	Todo el contenido del sitio web es propiedad de Cancun Sunny
                <br><br>
                •	No se permite la reproducción sin autorización expresa
              </p>

              <p class="mb-4 font-semibold text-justify text-cyan-700">7. Modificaciones de Términos.</p>
                
              <p class="mb-4 ml-6 text-cyan-700">  
                •	Nos reservamos el derecho de modificar estos términos.
                <br><br>
                •	Los cambios serán notificados a través de nuestro sitio web.
              </p>
</div>
</div>
{% endblock %}
