{% extends 'base.html' %}

{% block content %}
<div class="flex flex-col sm:flex-row sm:space-x-4 p-4">
    <!-- Inicia columna 1 -->
    <div class="sm:w-full md:w-1/4 bg-newlimes rounded-lg p-4 mb-4 sm:mb-0">
        <form class="rounded-lg text-black shadow-lg bg-transparent">
            <h2 class="text-2xl font-bold text-black mb-4 py-5 px-10">Cotizador</h2>
            <div class="mb-4">
                <label class="block mb-2 font-bold text-black" for="name">Nombre</label>
                <input type="text" autocomplete="off" id="name" class="input input-bordered shadow-lg bg-transparent text-black w-full" placeholder="Nombre">
            </div>
            <div class="mb-4">
                <label class="block text-black font-bold mb-2" for="people">Número de personas</label>
                <input type="number" autocomplete="off" id="people" class="input input-bordered bg-transparent shadow-lg w-full" placeholder="Número de personas">
            </div>
            <div class="mb-4">
                <label class="block text-black font-bold mb-2" for="date">Fecha</label>
                <input type="date" autocomplete="off" id="date" class="input bg-transparent shadow-lg input-bordered w-full">
            </div>
            <div class="mb-4">
                <label class="block text-black font-bold mb-2" for="service">Tipo de servicio</label>
                <select id="service" class="select bg-transparent shadow-lg select-bordered w-full">
                    <option>Transporte</option>
                    <option>Tours</option>
                    <option>Hospedaje</option>
                </select>
            </div>
            <button class="btn btn-primary w-full">Calcular</button>
        </form>

        <!-- Otros elementos -->
        <div class="mt-8 bg-lime p-6 rounded-lg shadow-lg">
            <h3 class="text-2xl text-black font-bold mb-4">Te puede interesar</h3>
            <ul class="menu rounded-lg font-bold text-xl">
                <li><a href="/tours_grupos" class="text-white">Enlace 1</a></li>
                <li><a href="/transportacion" class="text-white">Enlace 2</a></li>
                <li><a href="#" class="text-white">Enlace 3</a></li>
            </ul>
        </div>
    </div>
    <!-- Termina columna 1 -->

    <!-- Inicia columna 2 -->
    <div class="flex-1 rounded-lg shadow-lg p-4 bg-newlimes">
        <h1 class="text-5xl font-bold text-black text-center mb-4 py-2">Tu siguiente aventura inicia aquí</h1>
        <div id="custom-controls-gallery" class="relative h-full w-full" data-carousel="slide">
            <!-- Carousel wrapper -->
            <div class="relative h-56 mb-4 overflow-hidden rounded-lg w-full md:h-96">
                <!-- Items del carrusel -->
                <div class="hidden duration-700 ease-in-out h-full w-full" data-carousel-item>
                    <img src="/static/img/holbox.png" class="block w-full h-full object-cover" alt="">
                </div>
                <div class="hidden duration-700 ease-in-out h-full w-full" data-carousel-item="active">
                    <img src="/static/img/holbox2.png" class="block w-full h-full object-cover" alt="">
                </div>
                <div class="hidden duration-700 ease-in-out h-full w-full" data-carousel-item>
                    <img src="/static/img/beach.webp" class="block w-full h-full object-cover" alt="">
                </div>
                <div class="hidden duration-700 ease-in-out h-full w-full" data-carousel-item>
                    <img src="/static/img/flamingos.webp" class="block w-full h-full object-cover" alt="">
                </div>
                <div class="hidden duration-700 ease-in-out h-full w-full" data-carousel-item>
                    <img src="/static/img/image-3.webp" class="block w-full h-full object-cover" alt="">
                </div>
            </div>

            <!-- Galería de imágenes -->
            <div class="shadow-lg rounded-lg p-6 text-2xl grid grid-cols-2 md:grid-cols-3 gap-4">
                <div>
                    <img class="h-auto max-w-full rounded-lg" src="/static/img/flamingos.webp" alt="">
                </div>
                <div>
                    <img class="h-auto max-w-full rounded-lg" src="/static/img/image-3.webp" alt="">
                </div>
                <div>
                    <img class="h-auto max-w-full rounded-lg" src="/static/img/holbox.png" alt="">
                </div>
                <div>
                    <img class="h-auto max-w-full rounded-lg" src="/static/img/holbox2.png" alt="">
                </div>
                <div>
                    <img class="h-auto max-w-full rounded-lg" src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image-11.jpg" alt="">
                </div>
                <div>
                    <img class="h-auto max-w-full rounded-lg" src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image-11.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- Termina columna 2 -->
</div>
{% endblock %}
